body{
    background-color: #f5f8fa;
}

/*垂直居中*/
.vetically-parent{
    position:relative
}
.vetically-child{
    position:absolute;
    left:0; right:0; top:0; bottom:0;
    margin: auto;
}

.nestCol{
    padding: 6px;
}

.nestToolbar{
    margin-bottom: auto;
    background-color: #438eb9;
}
.nestToolbar a{
    color: white !important;
}
.nestToolbar .dropdown-menu{
    background-color: #438eb9;
}

.nestToolbar .navbar-nav>.open>a{
    background-color: #2b669a !important;
}

.nestToolbar .dropdown-menu>li>a:hover{
    background-color: #2b669a !important;
}

.nestHotKey{
    margin-bottom: 10px;
}

.nestTab > .tab-content > .tab-pane{
    height: 100%;
    padding: 2px;
}

.nestslider{
    width: 40%;
    position: absolute;
    bottom: 0;
    left:30%;
    margin: 10px;
}

.nestStatusBar input{
    width: 50px !important;
}

#slider .ui-slider-range { background-color: #729fcf; }
#slider .ui-slider-handle { border-color: #729fcf; }

/*-------------------------------------------------------*/

.nestTabMenu{
    margin-top: 5px;
    height: 94px;
    border: 1px solid #ddd;
    border-top-color: transparent;
    box-shadow: 0 1px 8px rgba(0,0,0,.175);
}

.nestTabMenu>.nav-tabs>li.active>a,
.nestTabMenu>.nav-tabs>li.active>a:focus,
.nestTabMenu>.nav-tabs>li.active>a:hover{
    background-color: #f8f8f8;
}

.nestTabNavbar{
    border: none;
}

/*tab菜单导航条label*/
.nestTabNavbarLabel{
    padding-right: 5px!important;
    padding-left: 5px!important;
    cursor: default;
    color: #D3D3D3!important;
}

.nestTabNavbar .fa{
    font-weight: bolder;
}

/*tab菜单导航条ul*/
.nestNavbarUl{
    border-right: 1px solid #ddd;
}

.nestStepChangeBar>.container-fluid>div{
    width: 500px;
    height: 34px;
    position:absolute;
    left:0; right:0; top:0; bottom:0;
    margin: auto;
}

.nestStepChangeBar .nestStepChangeBarLeftButton{
    float: left;
}
.nestStepChangeBar .nestStepChangeBarRightButton{
    float: right;
}

/* treeView */
.nestTreeButton{
    opacity: 0;
}
.nestTreeButton:hover{
    opacity: 1;
}

.nest-btn-group{
    margin-bottom: 5px;
}

.smallTab>li{
    font-size: 10px;
}
.smallTab>li>a{
    position: relative;
    padding: 5px 5px;
}

.smallTabContent label{
    font-weight: normal;
}

/*圆角边框*/
.radiusBorder{
    border: 1px solid #ddd;
    border-radius: 4px;
}